.post {
    background-color: yellow;
    border-color: #194419;
    border-style: dotted;
    padding: 10px;
    margin: 10px;
}

#explosions {
    font-size: 22px;
    color: red;
    font-weight: 600;
}

#title {
    font-size: 30px;
    font-weight: 800;
}